# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.vs/RingingCalculator/v14/.suo
RingingCalculator/bin/Debug/ringingcalculator.conf
RingingCalculator/bin/Debug/RingingCalculator.pdb
RingingCalculator/bin/Debug/RingingCalculator.exe
RingingCalculator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
RingingCalculator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.exe
RingingCalculator/obj/Debug/RingingCalculator.pdb
*.Cache
RingingCalculator/obj/Debug/RingingCalculator.vbprojResolveAssemblyReference.cache
RingingCalculator/bin/Debug/RingingCalculator.exe
.vs/RingingCalculator/v14/.suo
RingingCalculator/bin/Debug/RingingCalculator.pdb
*.conf
RingingCalculator/bin/Debug/ringing_stats.txt
RingingCalculator/bin/Debug/test_save.txt
RingingCalculator/bin/Debug/RingingCalculator.vshost.exe.manifest
